@import url('fonts.css');
@import url('reset.css');
@import url('casino-widget.css');
@import url('spin-popup.css');
@import url('code-copied.css');

.page-wrapper {
  padding: 0 15px;
}

.page-line {
  margin-bottom: 50px;
  position: relative;
  left: -15px;
  top: 0;
  width: calc(100% + 30px);
  background-color: #0F0F0F;
  height: 10px;
  box-shadow: 0px 2px 5px #00000029;
}
